<md-toolbar md-scroll-shrink layout="row" layout-align="space-between center">
  <div class="md-toolbar-tools">
    <h3>Dark Side Chat</h3>
    <span flex></span>
    <div class="navbar-right navbar-text">
      <meteor-include src="loginButtons"></meteor-include>
    </div>
  </div>
</md-toolbar>

<div layout="row">
  <form ng-submit="addMessage(newMsg); newMsg='';" ng-show="$root.currentUser">
    <div class="md-toolbar-tools">
      <md-input-container>
          <label>Message</label>
          <input type="text" ng-model="newMsg"/>
      </md-input-container>
      <md-button aria-label="Send">Send</md-button>
    </div>
  </form>
</div>

<md-content class="md-padding">
  <md-list>
    <md-list-item class="md-3-line" ng-repeat="msg in messages">
      <img ng-src="/vader.png" class="md-avatar" alt="Avatar" />
      <div class="md-list-item-text">
        <p>{{ msg.text }}</p>
        <h4><small>{{ msg.username }} - {{msg.createdAt | date:'H:mm'}}</small></h4>
      </div>
    </md-list-item>
  </md-list>
</md-content>
