<md-content>

  <form ng-submit="addMessage(newMsg); newMsg='';" ng-show="$root.currentUser">
    <md-toolbar layout="row" layout-align="space-between center">
      <div class="md-toolbar-tools">

        <md-input-container>
            <label>Message</label>
            <input type="text" ng-model="newMsg" id="input" class="input"/>
            <!--input type="submit" value="" id="send" class="send"/ -->
        </md-input-container>
        <md-button aria-label="First Button"> Send </md-button>
      </div>
    </md-toolbar>
  </form>

  <md-list>
    <md-list-item class="md-3-line" ng-repeat="msg in messages">
      <img ng-src="/vader.png" class="md-avatar" alt="Avatar" />
      <div class="md-list-item-text">
        <p>{{ msg.text }}</p>
        <h4><small>{{ msg.username }} - {{msg.createdAt | date:'H:mm'}}</small></h4>
      </div>
    </md-list-item>
  </md-list>

</md-content>
<!--
<h1 class="title">Dark Side Chat</h1>
<div class="wrapper">
  <nav id="nav" class="nav">
    <div class="default-nav">
      <div class="main-nav">
        <div class="toggle"></div>
        <div class="main-nav-item">
          <a href="#" class="main-nav-item-link">Join the dark side</a>
        </div>
        <div class="options">
          <meteor-include src="loginButtons"></meteor-include>
        </div>
      </div>
    </div>
  </nav>
  <div id="inner" class="inner">
    <div id="content" class="content">
      <md-list>
        <md-list-item class="md-2-line" ng-repeat="msg in messages">
          <md-icon md-svg-icon="content:add"></md-icon>
          <div><small>{{msg.createdAt | date:'H:mm'}}</small></div>
          <div class="md-list-item-text md-offset" >
            <h3> {{msg.text}} </h3>
          </div>
          <md-divider ></md-divider>
        </md-list-item>
      </md-list>
    </div>
  </div>
  <div id="bottom" class="bottom">
    <form ng-submit="addMessage(newMsg); newMsg='';" ng-show="$root.currentUser">
      <textarea ng-model="newMsg" id="input" class="input"></textarea>
      <input type="submit" value="" id="send" class="send"/>
    </form>
  </div>
</div>
-->