<md-toolbar md-scroll-shrink layout="row" layout-align="center center">
  <div class="md-toolbar-tools">
    <h2>Registration</h2>
  </div>
</md-toolbar>

<md-content class="md-padding">

  <div ng-show="failure"><h3>{{reason}}</h3></div>

  <form class="register">

    <md-input-container>
      <label>Username</label>
      <input required type="text" ng-model="username">
    </md-input-container>

    <md-input-container>
      <label>Password</label>
      <input required type="password" ng-model="password"/>
    </md-input-container>

    <md-select placeholder="Avatar" ng-model="avatar">
      <md-option ng-repeat="o in options" value="{{o.v}}">
        {{o.n}}
      </md-option>
    </md-select>

    <md-button ng-click="register()" aria-label="Register">Register</md-button>

  </form>
</md-content>